---
filter: haml
---
- num_of_posts = 8
- posts = find_posts(num_of_posts)
- posts.each_with_index do |post, index|
  - if (index + 1) % 4 == 0
    .last-post-box
      %span.post-date
        = format_post_date_short(post.created_at)
      %br
      = link_to_page(post)
      %p.post-summary
        = post.summary
    %hr
  - else 
    .post-box
      %span.post-date
        = format_post_date_short(post.created_at)
      %br
      = link_to_page(post)
      %p.post-summary
        = post.summary
