---
filter: haml
---
- posts_per_page = 8
- index = 1
- paginate(find_posts, posts_per_page) do |post|
  - if index % 4 == 0 || index == (@pager.last_item_number % posts_per_page)
    .last-post-box
      %span.post-date
        = format_post_date_short(post.created_at)
      %br
      = link_to_page(post)
      %p.post-summary
        = post.summary
    %hr
  - else 
    .post-box
      %span.post-date
        = format_post_date_short(post.created_at)
      %br
      = link_to_page(post)
      %p.post-summary
        = post.summary
  - index += 1
#pager_links
  - if @pager.prev?
    = link_to("Newer Posts", @pager.prev)
  - if @pager.next?
    = link_to("Older Posts", @pager.next) 
%hr
