---
extension: html
filter:
  - haml
  - basepath
---
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      Martin Owen&nbsp;//&nbsp;#{ @page.title }
    /
      Framework CSS
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "/stylesheets/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    /
      [if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
      <![endif]
    %link{ :href => "/stylesheets/twilight.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :language => "javascript", :type => "text/javascript", :src => "/scripts/jquery-1.3.2.min.js" }
    /
      <script language="javascript" type="text/javascript" src="/scripts/martinowen.js"></script>
  %body.bp
    .container
      #header
        = render :partial => "/header"
      %hr
      #main
        = render :partial => '/content'
      #sidebar
        = render :partial => "/sidebar"
      %hr
      #footer
        = render :partial => "/footer"
