---
extension: html
filter:
  - haml
  - basepath
---
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    - if @page.summary
      %meta{ :name => "description", :content => @page.summary }
    %title
      = @page.title
    /
      Framework CSS
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "/stylesheets/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    /
      [if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
      <![endif]
    %link{ :href => "/stylesheets/twilight.css", :rel => "stylesheet", :type => "text/css" }
  %body.bp
    .container
      #header
        = render :partial => "/header"
      - if @page.front_page
        #front-page
          = render :partial => '/front_page'
      - elsif @page.lifestream
        #lifestream
          ~@content
      - else
        #main
          = render :partial => '/content'
        #sidebar
          - if @page.name == "about"
            = render :partial => "/social_network_links"
          - else
            = render :partial => "/sidebar"
      #footer
        = render :partial => "/footer"
